:root {
    background-color: seashell;
    color: black;
}

::selection {
    background-color: lightblue;
}

code {
    /* Monospace font stack is used for our code blocks to make it look more like code */
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
      'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
      'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
      monospace;
  }

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.card-column {

}

.code-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  outline: 2px dashed;
}

.code-card .card-header {
  position: relative;

  border: 2px solid;
  border-radius: 8px;
}

.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px rgb(64, 49, 90);
}

.code-card .code-block {
  flex-grow: 1;
}

.code-card pre {
  display: flex;
  align-items: center;

  white-space: pre-wrap;
  overflow: auto;
  
  border-radius: 8px;
}

.code-card pre:active {
  user-select: all;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
  